.title1 {
  color: beige;
  border-style: solid;
  border-radius: 7px;
  padding: 5px;
  margin-top: 0;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
}

body {
  background-image: url("Security background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 900;
  stroke: rgb(65, 46, 21);
  stroke-width: 5px;
  background-color: #0763d2;
}

.Image1 {
  position: absolute;
  top: 110px;
  left: 1000px;
  height: auto;
  width: 20cm;
}

.Read {
  height: 150px;
  width: 450px;
  position: relative;
  left: 350px;
  top: 280px;
  font-family: "Chivo Mono", monospace;
  font-size: 50px;
  border-style: solid;
  border-radius: 17px;
}

.title2 {
  color: aqua;
  font-size: 50px;
  text-align: center;
  border-style: solid;
}

h2 {
  color: aliceblue;
  font-family: "Archivo Black", sans-serif;
  border-bottom-style: dashed;
}

.Div1 {
  border-style: solid;
  border-color: rgb(255, 116, 116);
  border-radius: 12px;
  border-width: 10px;
  padding: 12px;
  margin-bottom: 10px;
  margin-top: 0;
}

#Div2 {
  border-style: solid;
  border-color: rgb(255, 116, 116);
  border-radius: 12px;
  border-width: 10px;
  padding: 12px;
  margin-bottom: 10px;
  margin-top: 0;
}

#Div3 {
  border-style: solid;
  border-color: rgb(255, 116, 116);
  border-radius: 12px;
  border-width: 10px;
  padding: 12px;
  margin-bottom: 10px;
  margin-top: 0;
}

#Div4 {
  border-style: solid;
  border-color: rgb(255, 116, 116);
  border-radius: 12px;
  border-width: 10px;
  padding: 12px;
  margin-bottom: 10px;
  margin-top: 0;
}

#Div5 {
  border-style: solid;
  border-color: rgb(255, 116, 116);
  border-radius: 12px;
  border-width: 10px;
  padding: 12px;
  margin-bottom: 10px;
  margin-top: 0;
}

#Div6 {
  border-style: solid;
  border-color: rgb(255, 116, 116);
  border-radius: 12px;
  border-width: 10px;
  padding: 12px;
  margin-bottom: 10px;
  margin-top: 0;
}

#Conclusion {
  background-color: white;
  display: inline-block;
  color: black;
  padding: 5px;
}

#button2 {
  border-radius: 70px;
  position: absolute;
  display: block;
  margin: auto;
  text-align: center;
  padding: 5px;
  top: 50px;
  left: 50px;
}
